body {
  text-align: center;
  font-family: Courier;
  background-color: #fff5e4;
   background-image : url("https://i.pinimg.com/originals/4f/2b/53/4f2b5309a2927c639a78dabb24ea67b6.jpg");
  background-position: center;
  color: #FFFFFF;
font-size: 150px;
}
.title {
	color: #ff0000;
}
